<h2><%= l(:label_gender_statistics) %></h2>

<div class="splitcontent">
  <div class="splitcontentright">
  <%= male_users = User.male
  female_users = User.female
  render 'partials/count_table', {male_users: male_users, female_users: female_users}%>

  <br><br>

  <%= users = User.andy.all
  render 'partials/andy_users', {users: users}%>

  </div>

  <div class="splitcontentleft">
    <%= render 'partials/count_pie_chart', {male_users: male_users, female_users: female_users}%>
  </div>

</div>

<div class="splitcontent">
  <div class="splitcontentleft">
    <%= male_users_count = GenderStory.all.map(&:male_count)
    female_users_count = GenderStory.all.map(&:female_count)
    render 'partials/count_year_barChart', {male_users_count: male_users_count, female_users_count: female_users_count, months: @months}%>
  </div>

  <div class="splitcontentright">
  </div>


</div>

<h2><%= l(:label_group_statistics) %></h2>

<div class="splitcontent">
  <div class="splitcontentleft">
    <table class="list users">
      <thead>
        <tr>
          <th><%= l(:label_group) %></th>
          <th><%= l(:label_total) %></th>
          <th><%= l(:label_female) %></th>
          <th><%= l(:label_male) %></th>
          <th><%= l(:label_female_pertcentage) %></th>
          <th><%= l(:label_male_pertcentage) %></th>

        </tr>
      </thead>
      <tbody>
        <% Group.all.each do |group| %>
          <% if group.users.count > 1 %>
            <tr>
              <td>
                <%= group.lastname %>
              </td>
              <td>
                <%= group.users.count %>
              </td>
              <td>
                <%= group.users.female.count %>
              </td>
              <td>
                <%= group.users.male.count %>
              </td>
              <td>
                <%= (group.users.female.count.to_f/group.users.count*100).round(2) %>
              </td>
              <td>
                <%= (group.users.male.count.to_f/group.users.count*100).round(2) %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="splitcontentright">
    <%
      groups = Group.left_joins(:users).group(:id).order('COUNT(users.id) DESC').limit(10)
      female_pertcentage = groups.map {|group| (group.users.female.count.to_f/group.users.count*100).round(2) }
      male_pertcentage = groups.map {|group| (group.users.male.count.to_f/group.users.count*100).round(2) }
    %>
    <canvas id="genderGroupsChart" width="100" height="100"></canvas>

  </div>
</div>

<%
  # Trabajadores por edad

  ages = ['16-19', '20-29', '30-39', '40-49', '50-59', '60-80']

  female_age_ranges = [User.for_age_range(16, 19).female.size,
                       User.for_age_range(20, 29).female.size,
                       User.for_age_range(30, 39).female.size,
                       User.for_age_range(40, 49).female.size,
                       User.for_age_range(50, 59).female.size,
                       User.for_age_range(60, 80).female.size]

  male_age_ranges = [User.for_age_range(16, 19).male.size,
                     User.for_age_range(20, 29).male.size,
                     User.for_age_range(30, 39).male.size,
                     User.for_age_range(40, 49).male.size,
                     User.for_age_range(50, 59).male.size,
                     User.for_age_range(60, 80).male.size]
%>

<div class="splitcontent">
  <div class="splitcontentleft">
    <h2><%= l(:label_age_and_gender) %></h2>

    <canvas id="genderAgeChart" width="100" height="100"></canvas>
  </div>
  <div class="splitcontentright">
  </div>
</div>

<%
  # Years in company

  years = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10-14', '15-20']

  female_years_ranges = [User.for_contract_date_range(0,0).female.size,
                         User.for_contract_date_range(1,1).female.size,
                         User.for_contract_date_range(2,2).female.size,
                         User.for_contract_date_range(3,3).female.size,
                         User.for_contract_date_range(4,4).female.size,
                         User.for_contract_date_range(5,5).female.size,
                         User.for_contract_date_range(6,6).female.size,
                         User.for_contract_date_range(7,7).female.size,
                         User.for_contract_date_range(8,8).female.size,
                         User.for_contract_date_range(9,9).female.size,
                         User.for_contract_date_range(10,14).female.size,
                         User.for_contract_date_range(15,20).female.size]

   male_years_ranges = [User.for_contract_date_range(0,0).male.size,
                        User.for_contract_date_range(1,1).male.size,
                        User.for_contract_date_range(2,2).male.size,
                        User.for_contract_date_range(3,3).male.size,
                        User.for_contract_date_range(4,4).male.size,
                        User.for_contract_date_range(5,5).male.size,
                        User.for_contract_date_range(6,6).male.size,
                        User.for_contract_date_range(7,7).male.size,
                        User.for_contract_date_range(8,8).male.size,
                        User.for_contract_date_range(9,9).male.size,
                        User.for_contract_date_range(10,14).male.size,
                        User.for_contract_date_range(15,20).male.size]
%>

<div class="splitcontent">
  <div class="splitcontentleft">
    <h2><%= l(:label_years_in_company) %></h2>

    <canvas id="yearsInCompanyChart" width="100" height="100"></canvas>
  </div>
  <div class="splitcontentright">
  </div>
</div>

<script>

  function manage(user) {
    var id = user.id;
    var gender = $('#gender_'+(id)).val();
    console.log(gender);

    $.ajax({
       url: "/gender_stories_manage",
       data: new URLSearchParams({'id': id, 'gender': gender}).toString()
    })
  };

  var groupBarChartData = {
    labels: <%= raw groups.map(&:lastname) %>,
    datasets: [{
      label: '<%= l(:label_female) %>',
      backgroundColor: '#FF333F',
      borderColor: '#FF333F',
      borderWidth: 1,
      data: <%= female_pertcentage %>
    }, {
      label: '<%= l(:label_male) %>',
      backgroundColor: '#4633FF',
      borderColor: '#4633FF',
      data: <%= male_pertcentage %>
    }]

  };
  var ctxGroupChart = document.getElementById('genderGroupsChart').getContext('2d');
			window.myHorizontalBar = new Chart(ctxGroupChart, {
				type: 'horizontalBar',
				data: groupBarChartData,
				options: {
					// Elements options apply to all of the options unless overridden in a dataset
					// In this case, we are setting the border of each horizontal bar to be 2px wide
					elements: {
						rectangle: {
							borderWidth: 2,
						}
					},
					responsive: true,
					legend: {
						position: 'right',
					},
					title: {
						display: true,
						text: 'Chart.js Horizontal Bar Chart'
					}
				}
			});

  var ageBarChartData = {
    labels: <%= raw ages %>,
    datasets: [{
      label: '<%= l(:label_female) %>',
      backgroundColor: '#FF333F',
      borderColor: '#FF333F',
      borderWidth: 1,
      data: <%= female_age_ranges %>
    }, {
      label: '<%= l(:label_male) %>',
      backgroundColor: '#4633FF',
      borderColor: '#4633FF',
      data: <%= male_age_ranges %>
    }]

  };
  var ctxAgeChart = document.getElementById('genderAgeChart').getContext('2d');
			window.myHorizontalBar = new Chart(ctxAgeChart, {
				type: 'horizontalBar',
				data: ageBarChartData,
				options: {
					// Elements options apply to all of the options unless overridden in a dataset
					// In this case, we are setting the border of each horizontal bar to be 2px wide
					elements: {
						rectangle: {
							borderWidth: 2,
						}
					},
					responsive: true,
					legend: {
						position: 'right',
					},
					title: {
						display: true,
						text: 'Age ranges Bar Chart'
					}
				}
			});

  var yearsBarChartData = {
    labels: <%= raw years %>,
    datasets: [{
      label: '<%= l(:label_female) %>',
      backgroundColor: '#FF333F',
      borderColor: '#FF333F',
      borderWidth: 1,
      data: <%= female_years_ranges %>
    }, {
      label: '<%= l(:label_male) %>',
      backgroundColor: '#4633FF',
      borderColor: '#4633FF',
      data: <%= male_years_ranges %>
    }]

  };
  var ctxYearsChart = document.getElementById('yearsInCompanyChart').getContext('2d');
			window.myHorizontalBar = new Chart(ctxYearsChart, {
				type: 'horizontalBar',
				data: yearsBarChartData,
				options: {
					// Elements options apply to all of the options unless overridden in a dataset
					// In this case, we are setting the border of each horizontal bar to be 2px wide
					elements: {
						rectangle: {
							borderWidth: 2,
						}
					},
					responsive: true,
					legend: {
						position: 'right',
					},
					title: {
						display: true,
						text: 'Years in Company Bar Chart'
					}
				}
			});

</script>

<% content_for :header_tags do %>
  <%= javascript_include_tag "Chart.bundle.min" %>
<% end %>
