<h2><%= l(:label_gender_statistics) %></h2>

<div class="splitcontentright">
  <table class="list users">
    <thead>
      <tr>
        <th><%= l(:label_gender) %></th>
        <th><%= l(:label_total) %></th>
        <th><%= l(:label_percentage) %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= l(:label_male) %>
        </td>
        <td>
          <%= User.male.count %>
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          <%= l(:label_female) %>
        </td>
        <td>
          <%= User.female.count %>
        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="splitcontentleft">
  <canvas id="genderChart" width="50" height="50"></canvas>
<div>

<canvas id="genderStory" width="50" height="50"></canvas>

<script>
  var ctxGenderChart = document.getElementById('genderChart').getContext('2d');

  data = {
      datasets: [{
          data: [<%= User.female.count %>, <%= User.male.count %>],
          backgroundColor: ['#4633FF','#FF333F']
      }],
      // These labels appear in the legend and in the tooltips when hovering different arcs
      labels: [
          '<%= l(:label_female) %>',
          '<%= l(:label_male) %>'
      ]
  };

  var myPieChart = new Chart(ctxGenderChart, {
      type: 'pie',
      data: data,
      options: {
          elements: {
            rectangle: {borderWidth: 2}
          },
          responsive: true,
          legend: {position: 'right'},
          title: {
            display: true,
            text: '<%= l(:label_gender_statistics) %>'
          }
        }
  });

  var ctxGenderStory = document.getElementById('genderStory').getContext('2d');

  barChartData = {
      labels: <%= raw @months %>,
      datasets: [{
				label: '<%= l(:label_female) %>',
				backgroundColor: '#4633FF',
				data: <%= GenderStory.all.map(&:female_count)%>
			},
      {
				label: '<%= l(:label_male) %>',
				backgroundColor: '#FF333F',
				data: <%= GenderStory.all.map(&:male_count)%>
			}]
  };

  var stackedChart = new Chart(ctxGenderStory, {
      type: 'bar',
      data: barChartData,
      options: {
          elements: {
            rectangle: {borderWidth: 2}
          },
          responsive: true,
          legend: {position: 'right'},
          title: {
            display: true,
            text: '<%= l(:label_gender_statistics) %>'
          },
          scales: {
						xAxes: [{
							stacked: true,
						}],
						yAxes: [{
							stacked: true
						}]
					}
        }
  });
</script>

<% content_for :header_tags do %>
  <%= javascript_include_tag "Chart.bundle.min" %>
<% end %>
