<table id="count_table">
  <thead>
    <tr>
      <th><%= l(:label_gender) %></th>
      <th><%= l(:label_total) %></th>
      <th><%= l(:label_percentage) %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= l(:label_male) %>
      </td>
      <td>
        <%= @total_male %>
      </td>
      <td>
        <%= ((@total_male.to_f / User.in_company.count)*100).round(2).to_s + "%" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= l(:label_female) %>
      </td>
      <td>
        <%= @total_female %>
      </td>
      <td>
        <%= ((@total_female.to_f / User.in_company.count)*100).round(2).to_s + "%" %>
      </td>
    </tr>
  </tbody>
</table>
