<div class="splitcontentleft">
    <h2><%= l(:label_females_contract_type) %></h2>
    <canvas id="contractTypesFemaleChart" width="300" height="300"></canvas>
  </div>
  <div class="splitcontentright">
    <h2><%= l(:label_males_contract_type) %></h2>
    <canvas id="contractTypesMaleChart" width="300" height="300"></canvas>
  </div>

<script>
  var ctxContractTypesFemaleChart = document.getElementById('contractTypesFemaleChart').getContext('2d');

  data = {
      datasets: [{
          data: <%= raw User.custom_contract_types(User.female).values %>,
          backgroundColor: ['#FF333F','#4633FF', '#229954', '#D35400']
      }],
      // These labels appear in the legend and in the tooltips when hovering different arcs
      labels: <%= raw User.custom_contract_types(User.female).keys %>
  };

  var myPieChart = new Chart(ctxContractTypesFemaleChart, {
      type: 'pie',
      data: data,
      options: {
          elements: {
            rectangle: {borderWidth: 2}
          },
          responsive: false,
          legend: {position: 'right'},
          title: {
            display: true,
            text: '<%= l(:label_females_contract_type) %>'
          }
        }
  });

  var ctxContractTypesMaleChart = document.getElementById('contractTypesMaleChart').getContext('2d');

  data = {
      datasets: [{
          data: <%= raw User.custom_contract_types(User.male).values %>,
          backgroundColor: ['#FF333F','#4633FF', '#229954', '#D35400']
      }],
      // These labels appear in the legend and in the tooltips when hovering different arcs
      labels: <%= raw User.custom_contract_types(User.male).keys %>
  };

  var myPieChart = new Chart(ctxContractTypesMaleChart, {
      type: 'pie',
      data: data,
      options: {
          elements: {
            rectangle: {borderWidth: 2}
          },
          responsive: false,
          legend: {position: 'right'},
          title: {
            display: true,
            text: '<%= l(:label_males_contract_type) %>'
          }
        }
  });
</script>