<h2><%= l(:label_training) %></h2>
<canvas id="trainingChart" width="300" height="300"></canvas>

<script>
  var ctxTrainingChart = document.getElementById('trainingChart').getContext('2d');

  data = {
      datasets: [{
          data: [<%= User.female.receiving_training.size %>, <%= User.male.receiving_training.size %>],
          backgroundColor: ['#FF333F','#4633FF']
      }],
      // These labels appear in the legend and in the tooltips when hovering different arcs
      labels: [
          '<%= l(:label_female) %>',
          '<%= l(:label_male) %>'
      ]
  };

  var myPieChart = new Chart(ctxTrainingChart, {
      type: 'pie',
      data: data,
      options: {
          elements: {
            rectangle: {borderWidth: 2}
          },
          responsive: false,
          legend: {position: 'right'},
          title: {
            display: true,
            text: '<%= l(:label_trained_users) %>'
          }
        }
  });

</script>
