<table id="list_group_users">
  <thead>
    <tr>
      <th><%= l(:label_group) %></th>
      <th><%= l(:label_total) %></th>
      <th><%= l(:label_female) %></th>
      <th><%= l(:label_male) %></th>
      <th><%= l(:label_female_pertcentage) %></th>
      <th><%= l(:label_male_pertcentage) %></th>

    </tr>
  </thead>
  <tbody>
    <% Group.all.each do |group| %>
    <%
      users = group.users.count
      males = User.active.male.where("users.id IN (SELECT gu.user_id FROM groups_users gu WHERE gu.group_id=#{group.id})").count
      females = User.active.female.where("users.id IN (SELECT gu.user_id FROM groups_users gu WHERE gu.group_id=#{group.id})").count
    %>
      <% if group.users.count > 1 %>
        <tr>
          <td>
            <%= link_to group.lastname, group %>
          </td>
          <td>
            <%= users %>
          </td>
          <td>
            <%= females %>
          </td>
          <td>
            <%= males %>
          </td>
          <td>
            <%= ((females.to_f/users)*100).round(2).to_s + "%" %>
          </td>
          <td>
            <%= ((males.to_f/users)*100).round(2).to_s + "%" %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
