<table id="count_table">
  <thead>
    <tr>
      <th><%= l(:label_gender) %></th>
      <th><%= l(:label_total) %></th>
      <th><%= l(:label_trained) %></th>
      <th><%= l(:label_percentage) %></th>
      <th><%= l(:label_total_training) %></th>
    </tr>
  </thead>
  <tbody>
   <tr>
    <td>
      <%= l(:label_male) %>
    </td>
     <td>
       <%= @male_users.size %>
     </td>
     <td>
       <%= @male_users.receiving_training.size %>
     </td>
     <td>
       <%= (@male_users.receiving_training.size.to_f/@male_users.size).round(2)*100 %>%
     </td>
     <td>
       <%= number_with_precision(@total_male_training_amount, precision: 2, separator: ',', delimiter: '.') %>€
     </td>
   </tr>
   <tr>
    <td>
      <%= l(:label_female) %>
    </td>
     <td>
       <%= @female_users.size %>
     </td>
     <td>
       <%= @female_users.receiving_training.size %>
     </td>
     <td>
       <%= (@female_users.receiving_training.size.to_f/@female_users.size).round(2)*100 %>%
     </td>
     <td>
      <%= number_with_precision(@total_female_training_amount, precision: 2, separator: ',', delimiter: '.') %>€
     </td>
   </tr>
  </tbody>
</table>
