<h1><%= l(:label_gender_statistics) %></h1>

<div class="splitcontent">
  <p>
    <%= l(:label_introduction) %>
  </p>
</div>
<div class="splitcontent">
  <%= l(:label_phases_html).html_safe %>
</div>

<hr>

<h2><%= l(:label_gender_disaggregated) %></h2>
<div class="splitcontent">
  <div class="splitcontentleft">
    <%= render 'partials/count_pie_chart', { male_users: @male_users,
                                             female_users: @female_users } %>
  </div>
  <div class="splitcontentright">
    <%= render 'partials/count_table', { male_users: @male_users,
                                         female_users: @female_users } %>

    <p>
      <%= l(:label_gender_description) %>
    </p>

    <%= render 'partials/andy_users', { users: @users, dismissal_users: @dismissal_users } %>
  </div>
</div>

<hr>

<h2><%= l(:label_monthly_additions) %></h2>
<div class="splitcontent">
  <div class="splitcontentleft">
    <%= render 'partials/count_year_bar_chart', { male_users_count: @male_users_count,
                                                  female_users_count: @female_users_count,
                                                  months: @months } %>
  </div>

  <div class="splitcontentright">

  </div>
</div>

<h2><%= l(:label_monthly_dismissals) %></h2>
<div class="splitcontent">
  <div class="splitcontentleft">
    <%= render 'partials/count_year_dismissals', { male_users_count: @male_dismissals_count,
                                                   female_users_count: @female_dismissals_count,
                                                   months: @months } %>
  </div>

  <div class="splitcontentright">

  </div>
</div>

<hr>

<h2><%= l(:label_group_statistics) %></h2>
<div class="splitcontent">
  <div class="splitcontentleft">
    <%= render 'partials/gender_group_users' %>
  </div>

  <div class="splitcontentright">
    <%= render 'partials/count_gender_group_users_barChart', { name: 'feminisedGroupsChart',
                                                               female_pertcentage: @feminised_hash2.values,
                                                               male_pertcentage: @masculinized_hash2.values,
                                                               groups_min: Group.where(id: @masculinized_hash2.keys) } %>

    <%= render 'partials/count_gender_group_users_barChart', { name: 'masculinizedGroupsChart',
                                                               female_pertcentage: @feminised_hash1.values,
                                                               male_pertcentage: @masculinized_hash1.values,
                                                               groups_min: Group.where(id: @feminised_hash1.keys) } %>
  </div>
</div>

<hr>

<h2><%= l(:label_age_and_gender) %></h2>
<div class="splitcontent">
  <div class="splitcontentleft">
      <%= render 'partials/age_bar_chart', { ages: @ages,
                                             female_age_ranges: @female_age_ranges,
                                              male_age_ranges: @male_age_ranges } %>
  </div>
  <div class="splitcontentright">
  </div>
</div>

<hr>

<h2><%= l(:label_workers_by_seniority) %></h2>
<div class="splitcontent">
  <div class="splitcontentleft">
    <%= render 'partials/year_bar_chart', { ages: @years,
                                            female_age_ranges: @female_age_years,
                                            male_age_ranges: @male_age_years } %>
  </div>
  <div class="splitcontentright">
  </div>
</div>

<hr>

<h2><%= l(:label_workers_contract) %></h2>
<div class="splitcontent">
  <%= render 'partials/gender_contract_type_chart' %>
</div>

<hr>

<div class="splitcontent">
  <div class="splitcontentleft">
    <%= render 'partials/gender_training_chart' %>
  </div>
  <div class="splitcontentright">
    <%= render 'partials/gender_table' %>
  </div>
</div>

<hr>

<div class="splitcontent">
  <div class="splitcontentleft">
    <h2><%= l(:label_salary) %></h2>
    <div>
      <p>
        <%= l(:label_salary_male) %>
        <%= number_with_precision(@average_male_salary,
                                  precision: 2,
                                  separator: ',',
                                  delimiter: '.') %>€
      </p>
      <p>
        <%= l(:label_salary_female) %>
        <%= number_with_precision(@average_female_salary,
                                  precision: 2,
                                  separator: ',',
                                  delimiter: '.') %>€
      </p>
    </div>
    <%= render 'partials/salary_barChart', { name: 'salaryChart',
                                             average_male_salary: @average_male_salary,
                                             average_female_salary: @average_female_salary } %>
  </div>
</div>

<hr>

<div class="splitcontent">
  <%= render 'partials/leave_of_absence_chart' %>
</div>

<hr>

<div class="splitcontent">
  <%= render 'partials/tag_barChart' %>
</div>

<hr>

<div class="splitcontent">
  <%= render 'partials/internal_talks' %>
</div>

<script>
  function manage(user) {
    var id = user.id;
    var gender = $('#gender_'+(id)).val();
    console.log(gender);

    $.ajax({
       url: "/equality_plans_manage",
       data: new URLSearchParams({'id': id, 'gender': gender}).toString()
    })
  };
</script>

<% content_for :header_tags do %>
  <%= javascript_include_tag "Chart.bundle.min" %>
<% end %>
